@import 'variables.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background;
    color: $default_text_color;
    font-family: 'Inter', sans-serif;
    justify-items: center;
}
#app {
    width: 100vw;
    height: 100vh;
}