$background: #202124; // Фон во всех случаях
$default_text_color: #fff; // Цвет текста по умолчанию
$h1_h2_title_color: rgba(25, 181, 119, 1); // Цвет текста для заголовков
$stroke_color: rgba(255, 255, 255, 0.1); // Цвет текста для нижних бордеров